.navbar {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#intro {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 150px;
}
#intro .container .row .card1 {
  margin-top: 200px;
  margin-left: 330px;
}
#intro .container .row .card1 .title1 {
  width: 30rem;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#intro .container .row .card1 .desc1 {
  width: 26rem;
  text-align: center;
  margin-top: 2rem;
  margin-left: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace, Arial, sans-serif;
}
#intro .container .row .card1 .desc1 p {
  font-size: 18px;
}
#intro .container .row .card1 #bt1 {
  width: 150px;
  height: 55px;
  margin-left: 40px;
  margin-top: 10px;
}
#intro .container .row .card1 #bt2 {
  width: 150px;
  height: 55px;
  background-color: #302b63;
  margin-left: 40px;
  margin-top: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#main1 {
  background: #8E2DE2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
}
#main1 .container .card2 {
  margin-top: 80px;
}
#main1 .container .card2 h1 {
  text-align: center;
}
#main1 .container .card2 h5 {
  text-align: center;
  width: 600px;
  margin-left: 240px;
}
#main1 .container .card3 {
  margin-top: 40px;
  margin-left: 60px;
}
#main1 .container .card3 .ico3 {
  width: 80px;
  height: 80px;
}
#main1 .container .card3 .title3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main1 .container .card3 .txt3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
}

#main2 {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
}
#main2 .container .row .title4 {
  margin-top: 100px;
}
#main2 .container .row .title4 h3 {
  text-align: center;
}
#main2 .container .row .title4 h6 {
  text-align: center;
  width: 480px;
  margin-left: 300px;
}
#main2 .container .row .Video {
  width: 800px;
  height: 400px;
  border: 1px violet solid;
  margin-left: 150px;
  box-sizing: border-box;
  padding-top: 100px;
}
#main2 .container .row .Video h1 {
  margin-left: 250px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#main3 {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
  border-bottom: 1px white solid;
}
#main3 .container .row .imgAbout {
  margin-left: 130px;
}
#main3 .container .row .cart5 {
  margin-left: -40px;
  margin-top: 20px;
}
#main3 .container .row .cart5 .alllist5 {
  display: flex;
}
#main3 .container .row .cart5 .title5 {
  width: 600px;
  color: white;
}
#main3 .container .row .cart5 .desc5 {
  width: 600px;
  margin-top: 20px;
  color: white;
}
#main3 .container .row .cart5 .list5 li {
  list-style: none;
}
#main3 .container .row .cart5 .list5 .pff {
  margin-top: 15px;
  display: flex;
}
#main3 .container .row .cart5 .list5 .pff .listTxt5 {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  color: white;
}
#main3 .container .row .cart5 .list55 {
  margin-left: 90px;
}
#main3 .container .row .cart5 .list55 li {
  list-style: none;
  color: white;
}
#main3 .container .row .cart5 .list55 .pff {
  margin-top: 15px;
  display: flex;
}
#main3 .container .row .cart5 .list55 .pff .listTxt5 {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
}

#HetatdanBezmek {
  padding-top: 80px;
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
  border-bottom: 1px white solid;
}
#HetatdanBezmek .container .row .img7 {
  margin-top: 40px;
  margin-left: -80px;
}
#HetatdanBezmek .container .row li {
  list-style: none;
}
#HetatdanBezmek .container .row .cart7 {
  margin-top: 80px;
  color: white;
}
#HetatdanBezmek .container .row .cart7 .desc7 {
  font-size: 10px;
}

#users {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
}
#users .container .card2 {
  margin-top: 80px;
}
#users .container .card2 h1 {
  text-align: center;
}
#users .container .card2 h5 {
  text-align: center;
  width: 600px;
  margin-left: 240px;
}/*# sourceMappingURL=Untitled-1.css.map */
.card9 h1{

  text-align: center;
}
.card9{
  margin-top: 100px;
}
.Mus{
  display: flex;
}
.txt10{
  margin-left: 10px;
}
#tafa{
  margin-top: -30px;
}
.nem{
  display: flex;background-color: #302b63;
}
.date10{
  margin-left: 10px;border-left: 1px gray solid;
}
.card{
  background-color: #302b63;color: white;margin-top: 50px;
}
.list-group{
  background-color: #302b63;color: white;

}
.list-group-item{
  background-color: #302b63;color: white;
}
#end{
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-bottom: 200px;
}
.siuu{
  float: left;
}
.sui{
  clear: both;
}
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
body {
 font-family:Rubik,sans-serif;
 position:relative;
 font-weight:400;
 font-size:15px
}
ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}
p {
 font-size:16px;
 line-height:30px;
 color:#898b96;
 font-weight:300
}
h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}

