@model User
@{
    ViewData["Title"] = "Update";
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name"></label>

        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Degre"></label>

        <input asp-for="Degre" />
        <span asp-validation-for="Degre"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Photo"></label>

        <input asp-for="Photo" accept="image/*" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Raiting"></label>

        <input asp-for="Raiting" />
        <span asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SocialName"></label>

        <input asp-for="SocialName" />
        <span asp-validation-for="SocialName"></span>
    </div>
    <div class="mb-3">
        <button type="submit" value="update">Update</button>
    </div>
</form>

